:root {

    --featuredColor: #E66767;
    --secondColor: #FFEBD9;
    --background: #FFF8F2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;

}

body {
    background-color: var(--background);
    color: var(--featuredColor);
}

.msg-success {
    & span {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    & p {

        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 22px !important;
        margin-bottom: 24px !important;

    }
}